<ion-view view-title="Harga Sembako">
  	<ion-content>
  	<ion-list>
  		<!-- Header -->
  		<li class="item">

		<label class="item item-input item-select">
		    <div class="input-label">
		      <b class="">Lokasi</b>
		    </div>
		    <select>
		      <option>Sleman</option>
		      <option selected>Yogyakarta</option>
		      <option>Bantul</option>
		    </select>
	  	</label>	

	  	<label class="item item-input item-select">
		    <div class="input-label">
		      <b class="">Sembako</b>
		    </div>
		    <select>
		      <option>Gula</option>
		      <option selected>Beras</option>
		      <option>Cabe</option>
		    </select>
	  	</label>

		</li>

		<!-- Output -->
	  	<ul class="list">
		    <li class="item">
		    <h2 class="text-center" style="font-size:25px;">
		      	<span class="balanced">Rp 10.500 /kg</span>
			    <span><i class="ion-ios-arrow-thin-up assertive"></i></span>
				<span><i class="ion-ios-arrow-thin-down balanced"></i></span>
		    </h2>
		    </li>
		    <li class="item">		
				<canvas id="myChart" style="width: 100%; height: 200px;"></canvas>
		    </li>
		</ul>

	</ion-list>	

  </ion-content>

</ion-view>

