<ion-view view-title="Harga Sembako">
  	<ion-content>
  	<ion-list>
  		<!-- Header -->
  		<li class="item">

		<label class="item item-input item-select">
		    <div class="input-label">
		      <b>Lokasi</b>
		    </div>
		    <select>
		      <option>Sleman</option>
		      <option selected>Yogyakarta</option>
		      <option>Bantul</option>
		    </select>
	  	</label>	

		</li>

		<!-- Output -->
	  	<ul class="list">
	  		<li class="item">
	  		    <h3>
	  		      	Beras Filipina
	  		    	<div class="text-right">IDR15,204&nbsp; &nbsp; <i class="icon ion-chevron-up"></div></i>
	  		    </h3>
	  		    <canvas id="myChart"></canvas>
	  		</li>
	  		<li class="item" ng-repeat="sembako in sembakos">
	  		    <h3>
	  		      	{{sembako.name}}
	  		      	<div class="text-right float-right">{{sembako.prices[26] | currency:"IDR":0 }} &nbsp; &nbsp; <i class="icon ion-chevron-down"></i></div>
	  		    </h3>
	  		</li>	  		
		</ul>

	</ion-list>	

  </ion-content>

</ion-view>

