<ion-view view-title="Pantauan">
  <ion-content>
    <ion-list>
      <li class="item ">
        <label class="item item-input item-select">
          <div class="input-label ">
            <b class="">Lokasi</b>
          </div>
          <select>
            <option>Sleman</option>
            <option selected>Yogyakarta</option>
            <option>Bantul</option>
          </select>
        </label>                        
        <label class="item item-input item-select">
          <div class="input-label">
            <b class="">Sembako</b>
          </div>
          <select ng-init="selectedSembako=sembakos[0]" ng-model='selectedSembako' ng-options="sembako.name for sembako in sembakos"></select>
        </label>                    
        </li>

      <ion-item class="" ng-repeat="pantauan in pantauans" type="item-text-wrap" style="padding: 0;">
        <div class="row">
          <div class="col item-avatar">
            <img ng-src="{{pantauan.face}}">          
          </div>
          <div class="col">
          <a class="icon ion-arrow-up-b XL" ng-click="pantauan.rate += 1"><i></i></a>
            <p>&nbsp;{{pantauan.rate}}</p>
          <a class="icon ion-arrow-down-b XL" ng-click="pantauan.rate -= 1"></a>
          </div>
          <div class="col-50">
            <h2><b>{{pantauan.lastText}}</b></h2>
            <p>{{pantauan.lokasi}}</p>
            <small>{{pantauan.name}}</small>
          </div>

          
      </ion-item>
    </ion-list>

  </ion-content>
  <!-- footer -->
</ion-view>
